@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.details-button-logged-in {
  background: rgb(88, 144, 190);
  color: white;
}
.details-button-logged-in:hover {
  background: rgb(68, 124, 170);
}

.details-button-logged-out {
  background: rgb(210, 210, 210);
  color: rgb(221, 213, 213);
  cursor: not-allowed;
}
.details-button-logged-out:hover {
  background: rgba(255, 255, 255, 0.349);

}